<!DOCTYPE html>
<html>
<head>
    <title>Flashcard Quiz</title>
    <link rel="stylesheet" href="/static/style.css">
   
</head>
<body>
    <div class="flashcard" id="flashcard">
        <div class="front">
            <h2>Question {{ index }} of {{ total }}</h2>
            <p>{{ q['question'] }}</p>
            <form method="post" action="/templates/results.html">
                {% for opt in q['options'] %}
                    <label>
                        <input type="radio" name="option" value="{{ opt[0] }}" required> {{ opt }}
                    </label><br>
                {% endfor %}
                <button type="submit">Submit Answer</button>
            </form>
            <p>Score: {{ score }}</p>
        </div>
    </div>
</body>
 <script defer src="/static/script.js"></script>
</html>